body{
	background-color: black;
}

#gameWindow{
	position: relative;
	width: 1000px;
	height: 300px;
	margin: 0 auto;
	background-color: white;
	overflow: hidden;
	cursor: url('crosshair.gif') 16 16, crosshair;
	border: 1em groove orange;
}

.monkey{
	position: absolute;
   	width: 80px;
   	height: 80px;
   	background: url('monkey.png');
   	background-size: 80px 80px;
   	z-index: 10;
   	
   	-webkit-user-select: none;
   	-moz-user-select: none;
   	-ms-user-select: none;
   	user-select: none;
}

.jumbotron {
	text-align: center;
}

#title {
	padding-top: 2px;
	font-family: 'Concert One', cursive;
	font-size: 10em;
}

#description {
	padding-top: 2px;
	font-family: 'Concert One', cursive;
	font-size: 1.5em;
}

#numMisses, #numHits {
	font-family: 'Concert One', cursive;
	font-size: 3em;
}

#numMisses {
	margin-left: 2em;
}

#output {
	margin-bottom: 2em;
}