body {
    font-family: 'Lato', sans-serif;
    font-size: 1.15em;
    text-align: center;
    background-color: #ccddff;
}

h1 {
    text-align: center;
    margin-top: 0px;
}

form {
    font-size: 1.0em;
}

#quiz, #mascot {
    display: inline-block;   
    vertical-align: middle;
    padding:10px;
}

#mascot {
    border: 0.5em solid black;
}

#logoutBtn {
    text-align: right;
    float: right;
    margin-right: 2.5em;
    font-size: 0.8em;
}

#feedback {
    display: none;  /*Hides feedback when accessing quiz */
    margin: 0 auto;
    text-align: center;
    border-style: dotted;
    border-width: 0.3em;
    border-color: black;
    padding-bottom: 1.0em;
    
}

#retryLink {
    text-decoration: none;
    font-size: 2.0em;
    font-style: bold;
    color: blue; 
}

.answer {
    background-color: yellow;
    margin: 5px;
}

.correct { /* For Correct Answers */
    color: green;
}
 
.incorrect { /* For Incorrect Answers */
    color: red;
}


/*Content Wrapper for everything under user menu*/ 
.content-wrapper {
    top: 100px;
    position: relative;
    width:850px;
    margin:0 auto;
    text-align: left;
    display: inline;
}

/* User Fixed Menu When Logged In*/
.user-menu {
    top: 0px;
    left: 0px;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid black;
    padding: 1em;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    background-color: lightblue;
}
