body {
    background-color: #bfbfbf;
}

h1 {
    text-align: center;
    font-family: 'Bungee Shade', cursive;
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 2px;
}

a {
    outline: none;
}

#pad1, #pad2, #pad3, #pad4 {
    padding: 20px;
    font-size: 30px;
    cursor: pointer;
    height: 300px;
    outline: none;
}

#gameTitle {
    text-align: center;
}

#gameArea {
    text-align: center;
}

#gamePad {
    display: inline-grid;
    grid-template-columns: auto auto;
    background-color: #000000;
    padding: 10px;
    width: 50%;
    border-radius: 20px;
}

#rounds, #points {
    display: inline;
    margin: auto;
}

#buttonArea {
    text-align: center;
}

#playBtn, #quitBtn {
    margin: auto;
    text-decoration: none;
}

#pad1 {
    border: none;
    background-color: #248f24;
    border-radius: 10px;
    /* To make the text invisible, we set it to the background color */
    color: #248f24;
}

#pad2 {
    border: none;
    background-color: #b30000;
    border-radius: 10px;
    /* To make the text invisible, we set it to the background color */
    color: #b30000;
    
}
 #pad3 {
    border: none;
    background-color: #e6e600;
    border-radius: 10px;
    /* To make the text invisible, we set it to the background color */
    color: #e6e600;
 }

#pad4 {
    border: none;
    background-color: #0000ff;
    border-radius: 10px;
    /* To make the text invisible, we set it to the background color */
    color: #0000ff;
}

.active-pad1, .active-pad2, .active-pad3, .active-pad4 {
    padding: 20px;
    font-size: 30px;
    cursor: pointer;
    height: 300px;
    outline: none;
    border: none;
    border-radius: 10px;
}

.active-pad1 {
    background-color: #33cc33;
    /* To make the text invisible, we set it to the background color */
    color: #33cc33;
    
}

.active-pad2 {
    background-color: #ff0000;
    /* To make the text invisible, we set it to the background color */
    color: #ff0000;
}

.active-pad3 {
    background-color: #ffff00;
    /* To make the text invisible, we set it to the background color */
    color: #ffff00;
}

.active-pad4 {
    border-radius: 10px;
    background-color: #0040ff;
    /* To make the text invisible, we set it to the background color */
    color: #0040ff;
}